body {
	background: #f9e933;
}

header, main, footer {
	min-width: 855px;
}

header .container, main .container, footer .container {
	max-width: 855px;
	margin: auto;
	/*vertical-align: top;*/
}

header {
	background: white;
	overflow: auto;
}

header h1 {
	float: left;
	width: 570px;
}

header nav {
	float: right;
	width: 285px;
}

main {
	background: white;
}

/*footer .container {*/
	/*vertical-align: top;*/
/*}*/

footer .Contact {
	float: left;
}

footer .Sitemap {
	float: right;
}

main .text {
	float: left;
	background: white;
	width: 570px;
	height: 500px;
}

main .bulb {
	float: right;
	background: white;
	width: 285px;
	height: 500px;
}